.footer-img {
    width: 100%;
    height: auto;
    margin-bottom: -40px;
}

.footer{
    margin-top: -100px;
    max-width: 100%;
}

.footer-info {
    position: relative;
    color: $whiteColor;
    bottom: 5px;
    justify-content: end;
    margin-right: 10px;
    font-size: 20px;
}